@charset "utf-8";
*{padding:0px; margin:0px;}
body{font-size:14px; color:#555; font-family:"Microsoft YaHei",Arial;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,i,b,em,span,form,fieldset,legend,input,textarea,select,button,th,td{margin:0; padding:0; font-style:normal;}
h1,h2,h3,h4,h5,h6{list-style:none;}
input,select,button,textarea{font-size:15px; border:0; background:none; outline:none; vertical-align:middle; font-family:"Microsoft YaHei",Arial;}
button{overflow:visible}
img{border:none;}
li{list-style:none;}
a{color:#222; text-decoration:none;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
a:hover{color:#17b682; text-decoration:none !important;}
.clear{overflow:hidden; clear:both; height:0px;}
@media only screen and (max-width:1024px){
body{font-size:20px;}
input,select,button,textarea{font-size:20px;}
input,textarea{-webkit-appearance:none; border-radius:0;}
}

.header{width:100%; background-color:#161616; position:fixed; top:0; left:0; z-index:9999;}
.header .logo{width:142px; margin:21px 0; float:left;}
.header .logo img{width:100%; height:auto; display:block;}
.header .an{position:absolute; top:50%; margin-top:-15px; left:25px; height:17px; width:46px; display:none;}
.header .an span{width:46px; height:3px; border-radius:1px; background-color:#c4f752; display:block; position:absolute;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.header .an span.a1{top:0; left:0;}
.header .an span.a2{top:13px; left:0;}
.header .an span.a3{top:26px; left:0;}
.header .an.n span.a2{display:none;}
.header .an.n span.a1{top:13px;
transform:rotate(45deg);
-o-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);}
.header .an.n span.a3{top:13px;
transform:rotate(135deg);
-o-transform:rotate(135deg);
-ms-transform:rotate(135deg);
-moz-transform:rotate(135deg);
-webkit-transform:rotate(135deg);}
.header .nav{float:right;}
.header .nav ul li{margin-left:80px; float:left; position:relative;}
.header .nav ul li:after{width:0; height:2px; background-color:#c5f752; content:""; position:absolute; bottom:0; left:0;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.header .nav ul li:hover:after{width:100%;}
.header .nav ul li.on:after{width:100%;}
.header .nav ul li a{font-size:30px; color:#fff; font-weight:bold; line-height:82px; display:block;}
.header .nav ul li:hover a{color:#c5f752;}
.header .nav ul li.on a{color:#c5f752;}
@media (min-width:1025px) {
.header .nav ul li{margin-left:30px;}
.header .nav ul li a{font-size:20px;}
}
@media (min-width:1200px) {
.header .nav ul li{margin-left:38px;}
.header .nav ul li a{font-size:24px;}
}
@media (min-width:1500px) {
.header .nav ul li{margin-left:50px;}
.header .nav ul li a{font-size:30px;}
}
@media only screen and (max-width:1024px){
.header .logo{margin:30px auto; float:none;}
.header .an{display:block;}
.header .nav{width:60%; height:100%; padding:15px 5% 25px; float:none; background-color:#161616; position:fixed; top:0; right:-60%; z-index:9999;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.header .nav.on{right:0;}
.header .nav ul{width:100%;}
.header .nav ul li{width:100%; text-align:center; border-bottom:1px solid #363636; float:none; margin:0;}
.header .nav ul li:after{display:none;}
.header .nav ul li a{font-size:26px; line-height:100px;}
}

.head_h{width:100%; height:82px; background-color:#161616; overflow:hidden;}
@media only screen and (max-width:1024px){
.head_h{height:99px;}
}

.pc_ban{width:100%; height:460px; position:relative; overflow:hidden;}
@media only screen and (max-width:1024px){
.pc_ban{height:310px;}
.pc_ban .swiper-pagination{bottom:5px;}
}

.sy_bt{margin-bottom:15px;}
.sy_bt .b_t{font-size:26px; font-weight:bold; color:#222; line-height:40px; position:relative; padding-left:25px; float:left;}
.sy_bt .b_t:after{width:10px; height:26px; position:absolute; top:50%; left:0; margin-top:-13px; background-color:#c5f752; content:"";}
.sy_bt .m_r{width:70px; height:28px; margin-top:6px; border:1px solid #3d3d3d; position:relative; overflow:hidden; float:right;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.sy_bt .m_r:hover{border:1px solid #17b682;}
.sy_bt .m_r .bg{width:100%; height:100%; position:absolute; left:0; top:0; background-color:#17b682;
transition:transform 340ms ease-in-out;
transform-origin:right center;
transform:scaleX(0);}
.sy_bt .m_r:hover .bg{transform:scaleX(1); transform-origin:left center;}
.sy_bt .m_r a{line-height:26px; color:#333; text-align:center; display:block; position:relative; z-index:9;}
.sy_bt .m_r:hover a{color:#fff;}
@media only screen and (max-width:1024px){
.sy_bt{margin:40px 0 25px;}
.sy_bt .m_r{width:100px; height:32px; margin-top:4px;}
.sy_bt .m_r a{font-size:18px; line-height:30px;}
}

.dq_wz{width:100%; margin-top:40px; font-size:16px; line-height:26px; color:#222;}
@media only screen and (max-width:1024px){
.dq_wz{font-size:18px; line-height:32px;}
}

.sy_zh{width:100%; margin:40px 0;}
.sy_zh .row{margin:0 -20px;}
.sy_zh .col-12{padding:0 20px;}
.sy_zh .zh_nr{width:100%; height:410px; padding:20px 25px 15px; background-color:#f2f2f2;}
.sy_zh .ny_nr{width:100%; height:335px; padding:20px 25px 15px; background-color:#f2f2f2;}
.sy_zh .xy_nr{width:100%; height:185px; padding:20px 25px 15px; background-color:#f2f2f2;}
.sy_zh .zy_nr{width:100%; padding:20px 25px 15px; background-color:#f2f2f2;}
.sy_zh .zy_nr.m_b{margin-bottom:50px;}
.sy_zh .rm_yx{margin-top:6px;}
.sy_zh .rm_yx ul{margin:0 -20px;}
.sy_zh .rm_yx ul li{width:20%; padding:0 20px; flex:0 0 20%;}
.sy_zh .rm_yx .n_r{margin-bottom:10px;}
.sy_zh .rm_yx .t_b{max-width:82px; max-height:82px; background-color:#fff; padding:3px; margin:0 auto; overflow:hidden;}
.sy_zh .rm_yx .t_b img{width:100%; height:auto; border-radius:0 5px 0 5px; display:block;}
.sy_zh .rm_yx .w_z{font-size:15px; line-height:26px; text-align:center; margin-top:4px;}
.sy_zh .rm_zd ul{margin:0 -20px;}
.sy_zh .rm_zd ul li{padding:0 20px;}
.sy_zh .rm_zd .n_r{padding:2px 5px 2px 62px; background-color:#fff; margin:9px 0; position:relative;}
.sy_zh .rm_zd .t_b{width:52px; position:absolute; top:2px; left:5px;}
.sy_zh .rm_zd .t_b img{width:100%; height:auto; display:block;}
.sy_zh .rm_zd .w_z{font-size:16px; line-height:52px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .zx_zx .hd{border-bottom:3px solid #e1e1e1; margin-bottom:15px;}
.sy_zh .zx_zx .hd ul{margin:0 -3px;}
.sy_zh .zx_zx .hd ul li{padding:0 3px; text-align:center;}
.sy_zh .zx_zx .hd span{display:inline-block; position:relative; padding-bottom:10px; font-size:20px; font-weight:bold; color:#555; cursor:pointer;}
.sy_zh .zx_zx .hd ul li.on span{color:#17b682;}
.sy_zh .zx_zx .hd ul li.on span:after{width:100%; height:3px; background-color:#17b682; content:""; position:absolute; left:0; bottom:-3px;}
.sy_zh .zx_zx .d_b{font-size:18px; font-weight:bold; text-align:center; text-overflow:ellipsis; white-space:nowrap; padding-bottom:15px; border-bottom:1px solid #e1e1e1; overflow:hidden;}
.sy_zh .zx_zx .d_b a{color:#17b682;}
.sy_zh .zx_zx .n_r ul li{position:relative; padding:14px 0 14px 80px; border-bottom:1px solid #e1e1e1; line-height:26px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .zx_zx .n_r ul li:last-child{border-bottom:0;}
.sy_zh .zx_zx .n_r .s_j{float:right; font-size:15px; padding-left:10px;}
.sy_zh .zx_zx .n_r span{width:60px; height:26px; background-color:#17b682; border-radius:3px; font-size:15px; color:#fff; text-align:center; line-height:26px; position:absolute; left:0; top:14px;}
.sy_zh .yx_gl ul li{position:relative; margin:6px 0; padding-left:80px; line-height:40px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .yx_gl .s_j{float:right; font-size:15px; padding-left:10px;}
.sy_zh .yx_gl span{width:60px; height:26px; background-color:#6e6d6d; border-radius:3px; font-size:15px; color:#fff; text-align:center; line-height:26px; position:absolute; left:0; top:7px;}
.sy_zh .rm_zx{margin:10px 0;}
.sy_zh .rm_zx ul li{position:relative; line-height:46px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .rm_zx .s_j{float:right; font-size:15px; padding-left:10px;}
.sy_zh .mx_tj{padding:23px 20px;}
.sy_zh .mx_tj ul{margin:0 -15px;}
.sy_zh .mx_tj ul li{padding:0 15px;}
.sy_zh .mx_tj .n_r{background-color:#fff;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.sy_zh .mx_tj .n_r:hover{box-shadow:0 0 20px #aaa;}
.sy_zh .mx_tj .t_p{position:relative; background-color:#fff;}
.sy_zh .mx_tj .t_p:after{width:100%; height:10px; content:""; position:absolute; left:0; bottom:0;
background-image:-webkit-linear-gradient(left, rgba(197,247,82,0), #c5f752);
background-image:-moz-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-ms-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-o-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:linear-gradient(left, rgba(197,247,82,0), #390a5d);}
.sy_zh .mx_tj .t_p img{width:100%; height:auto; display:block;}
.sy_zh .mx_tj .w_z{padding:15px;}
.sy_zh .mx_tj .x_m{font-size:20px; font-weight:bold; line-height:30px;}
.sy_zh .mx_tj .j_s{line-height:26px; color:#777; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .rm_xs ul{margin:0 -15px;}
.sy_zh .rm_xs .t_p{max-width:130px; border-radius:50%; margin:10px auto; position:relative; overflow:hidden; background-color:#fff;}
.sy_zh .rm_xs .t_p img{width:100%; height:auto; display:block;}
.sy_zh .rm_xs .w_z{width:100%; background-color:rgba(23,182,130,.8); padding:5px 0; position:absolute; bottom:-36px; left:0; font-size:15px; line-height:26px; text-align:center; color:#fff;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.sy_zh .rm_xs .t_p:hover .w_z{bottom:0;}
.sy_zh .zx_nr{width:100%; padding:40px; background-color:#f2f2f2;}
.sy_zh .zx_lb ul li{margin:0 -10px 30px;}
.sy_zh .zx_lb .col-5{padding:0 10px;}
.sy_zh .zx_lb .col-7{padding:0 10px;}
.sy_zh .zx_lb .t_p{overflow:hidden; background-color:#fff;}
.sy_zh .zx_lb .t_p img{width:100%; height:auto; display:block;
transition:all 1s;
-o-transition:all 1s;
-ms-transition:all 1s;
-moz-transition:all 1s;
-webkit-transition:all 1s;} 
.sy_zh .zx_lb .t_p:hover img{transform:scale(1.05);
-webkit-transform:scale(1.05);
-moz-transform:scale(1.05);
-ms-transform:scale(1.05);
-o-transform:scale(1.05);}
.sy_zh .zx_lb .w_z{position:relative; padding-right:120px;}
.sy_zh .zx_lb .w_z h3{font-size:18px; font-weight:bold; line-height:26px; margin-bottom:6px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sy_zh .zx_lb .w_z p{line-height:22px; height:44px; overflow:hidden; display:-webkit-box;
line-clamp:2;
-webkit-line-clamp:2;
-moz-line-clamp:2;
-ms-line-clamp:2;
-o-line-clamp:2;
-webkit-box-orient:vertical;}
.sy_zh .zx_lb .w_z a.m_r{width:100px; height:26px; border:1px solid #ddd; line-height:24px; text-align:center; position:absolute; bottom:10px; right:0; display:block;}
.sy_zh .zx_lb .w_z a.m_r:hover{border:1px solid #17b682; background-color:#17b682; color:#fff;}
.sy_zh .xq_nr{width:100%; padding:40px 50px; background-color:#f2f2f2; margin-bottom:50px;}
.sy_zh .xw_xq .b_t{font-size:26px; font-weight:bold; color:#222; line-height:36px; text-align:center; margin-bottom:30px;}
.sy_zh .xw_xq .n_r{font-size:16px; line-height:30px; margin-bottom:30px;}
.sy_zh .xw_xq .n_r img{width:100%; height:auto; display:block;}
.sy_zh .xw_xq .b_q a{display:inline-block; border:1px solid #ddd; padding:0 15px; line-height:26px; margin-right:10px;}
.sy_zh .xw_xq .b_q a:hover{background-color:#17b682; border:1px solid #17b682; color:#fff;}
.sy_zh .mw_dp{margin-top:15px; text-align:center;}
.sy_zh .mw_dp h3{font-size:20px; font-weight:bold; color:#333; margin:10px 0;}
.sy_zh .mw_dp p{font-size:15px; line-height:28px;}
.sy_zh .mw_dp .j_g{background-color:rgba(255,255,255,.5); padding:10px 15px; margin:0 15px; font-size:16px; text-align:left; line-height:28px; margin-top:30px;}
.sy_zh .jn_js{margin-top:15px;}
.sy_zh .jn_js .hd{overflow:hidden; margin-bottom:15px;}
.sy_zh .jn_js .hd ul li{width:100px; border:3px solid #f2f2f2; float:left; border-radius:50%; overflow:hidden; margin-right:20px; cursor:pointer;}
.sy_zh .jn_js .hd ul li.on{border:3px solid #c5f752;}
.sy_zh .jn_js .hd ul li img{width:100%; height:auto; display:block;}
.sy_zh .jn_js .n_r h3{font-size:20px; font-weight:bold; color:#333; line-height:30px;}
.sy_zh .jn_js .n_r h4{font-size:16px; line-height:22px; color:#555; margin-bottom:15px;}
.sy_zh .jn_js .n_r p{line-height:22px;}
.sy_zh .yx_gx .hd{overflow:hidden; border-bottom:1px solid #888; margin-bottom:20px;}
.sy_zh .yx_gx .hd ul li{font-size:20px; padding-bottom:15px; color:#555; text-align:center; cursor:pointer;}
.sy_zh .yx_gx .hd ul li.on{font-weight:bold; color:#222;}
.sy_zh .yx_gx .n_r{position:relative;}
.sy_zh .yx_gx .t_x{width:30%;}
.sy_zh .yx_gx .t_x ul li{width:35%; display:inline-block; margin-left:10%;}
.sy_zh .yx_gx .t_x img{width:100%; height:auto; border:2px solid #f2f2f2; display:block; cursor:pointer;}
.sy_zh .yx_gx .t_x ul li.on img{border:2px solid #c5f752;}
.sy_zh .yx_gx .w_z{width:65%; position:absolute; right:0; top:50%;
transform:translateY(-50%);
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-ms-transform:translateY(-50%);
-o-transform:translateY(-50%);}
.sy_zh .yx_gx .w_z p{font-size:16px; line-height:26px; display:none;}
.sy_zh .yx_gx .w_z p.dk{display:block;}
@media (min-width:1025px) {
.sy_zh .row{margin:0 -10px;}
.sy_zh .col-12{padding:0 10px;}
.sy_zh .zh_nr{padding:20px 15px 15px;}
.sy_zh .ny_nr{padding:20px 15px 15px;}
.sy_zh .xy_nr{padding:20px 15px 15px;}
.sy_zh .zy_nr{padding:20px 15px 15px;}
.sy_zh .rm_yx ul{margin:0 -10px;}
.sy_zh .rm_yx ul li{padding:0 10px;}
.sy_zh .rm_yx .t_b{max-width:66px; max-height:66px;}
.sy_zh .rm_zd ul{margin:0 -10px;}
.sy_zh .rm_zd ul li{padding:0 10px;}
.sy_zh .rm_zd .n_r{padding:2px 5px 2px 56px;}
.sy_zh .rm_zd .t_b{width:46px; top:2px; left:5px;}
.sy_zh .rm_zd .w_z{font-size:15px; line-height:46px;}
.sy_zh .mx_tj{padding:23px 10px;}
.sy_zh .mx_tj ul{margin:0 -10px;}
.sy_zh .mx_tj ul li{padding:0 10px;}
.sy_zh .mx_tj .n_r:hover{box-shadow:0 0 15px #aaa;}
.sy_zh .mx_tj .w_z{padding:15px;}
.sy_zh .mx_tj .x_m{font-size:18px; line-height:28px;}
.sy_zh .rm_xs .t_p{max-width:100px; max-height:100px;}
}
@media (min-width:1500px) {
.sy_zh .row{margin:0 -20px;}
.sy_zh .col-12{padding:0 20px;}
.sy_zh .zh_nr{padding:20px 25px 15px;}
.sy_zh .ny_nr{padding:20px 25px 15px;}
.sy_zh .xy_nr{padding:20px 25px 15px;}
.sy_zh .zy_nr{padding:20px 25px 15px;}
.sy_zh .zy_nr.m_b{margin-bottom:50px;}
.sy_zh .rm_yx ul{margin:0 -20px;}
.sy_zh .rm_yx ul li{padding:0 20px;}
.sy_zh .rm_yx .t_b{max-width:82px; max-height:82px;}
.sy_zh .rm_zd ul{margin:0 -20px;}
.sy_zh .rm_zd ul li{padding:0 20px;}
.sy_zh .rm_zd .n_r{padding:2px 5px 2px 62px;}
.sy_zh .rm_zd .t_b{width:52px; top:2px; left:5px;}
.sy_zh .rm_zd .w_z{font-size:16px; line-height:52px;}
.sy_zh .mx_tj{padding:23px 20px;}
.sy_zh .mx_tj ul{margin:0 -15px;}
.sy_zh .mx_tj ul li{padding:0 15px;}
.sy_zh .mx_tj .n_r:hover{box-shadow:0 0 20px #aaa;}
.sy_zh .mx_tj .w_z{padding:15px;}
.sy_zh .mx_tj .x_m{font-size:20px; line-height:30px;}
.sy_zh .rm_xs .t_p{max-width:130px; max-height:130px;}
}
@media only screen and (max-width:1024px){
.sy_zh{margin:0;}
.sy_zh .row{margin:0 -15px;}
.sy_zh .col-12{padding:0 15px;}
.sy_zh .zh_nr{height:inherit; padding:20px;}
.sy_zh .ny_nr{height:inherit; padding:20px;}
.sy_zh .xy_nr{height:inherit; padding:20px;}
.sy_zh .zy_nr{padding:20px;}
.sy_zh .zy_nr.m_b{margin-bottom:30px;}
.sy_zh .rm_yx ul{margin:0 -10px;}
.sy_zh .rm_yx ul li{padding:0 10px; display:none;}
.sy_zh .rm_yx ul li:nth-child(-n+10){display:block;}
.sy_zh .rm_yx .w_z{font-size:17px;}
.sy_zh .rm_zd ul{margin:0 -10px;}
.sy_zh .rm_zd ul li{padding:0 10px; display:none;}
.sy_zh .rm_zd ul li:nth-child(-n+9){display:block;}
.sy_zh .rm_zd .w_z{font-size:18px;}
.sy_zh .zx_zx .hd{margin:0;}
.sy_zh .zx_zx .hd span{font-size:22px; padding-bottom:15px;}
.sy_zh .zx_zx .d_b{display:none;}
.sy_zh .zx_zx .n_r ul li{padding:20px 0 20px 100px; line-height:32px; display:none;}
.sy_zh .zx_zx .n_r ul li:nth-child(-n+3){display:block;}
.sy_zh .zx_zx .n_r .s_j{font-size:18px;}
.sy_zh .zx_zx .n_r span{width:80px; height:32px; border-radius:5px; font-size:18px; line-height:32px; top:20px;}
.sy_zh .yx_gl ul li{margin:0; padding:20px 0 20px 100px; border-bottom:1px solid #e1e1e1; line-height:32px; display:none;}
.sy_zh .yx_gl ul li:first-child{padding:0 0 20px 100px;}
.sy_zh .yx_gl ul li:nth-child(-n+4){display:block;}
.sy_zh .yx_gl .s_j{font-size:18px;}
.sy_zh .yx_gl span{width:80px; height:32px; border-radius:5px; font-size:18px; line-height:32px; top:20px;}
.sy_zh .yx_gl ul li:first-child span{top:0;}
.sy_zh .rm_zx{margin:0;}
.sy_zh .rm_zx ul li{line-height:60px; display:none;}
.sy_zh .rm_zx ul li:nth-child(-n+4){display:block;}
.sy_zh .rm_zx .s_j{font-size:18px;}
.sy_zh .mx_tj{padding:0;}
.sy_zh .mx_tj ul{margin:0 -5px;}
.sy_zh .mx_tj ul li{padding:0 5px;}
.sy_zh .mx_tj .w_z{padding:15px 10px;}
.sy_zh .mx_tj .x_m{font-size:22px;}
.sy_zh .mx_tj .j_s{font-size:16px;}
.sy_zh .rm_xs .t_p{max-width:120px; max-height:120px;}
.sy_zh .rm_xs .w_z{font-size:18px;}
.sy_zh .zx_nr{padding:20px; margin-top:30px;}
.sy_zh .zx_lb .w_z{padding-right:0;}
.sy_zh .zx_lb .w_z h3{font-size:22px; line-height:32px;}
.sy_zh .zx_lb .w_z p{line-height:28px; height:56px; font-size:18px;}
.sy_zh .zx_lb .w_z a.m_r{width:140px; height:38px; line-height:36px; position:relative; bottom:auto; right:auto; margin-top:15px;}
.sy_zh .xq_nr{padding:30px 20px; margin:30px 0;}
.sy_zh .xw_xq .n_r{font-size:20px; line-height:38px;}
.sy_zh .xw_xq .b_q a{padding:0 20px; font-size:18px; line-height:36px; margin-right:20px;}
.sy_zh .xw_xq .author{font-size: 14px;  color: #888;margin:0px 50px 20px 0;float:left;}
.sy_zh .xw_xq .c_time{font-size: 14px;  color: #888;}
.sy_zh .mw_dp{margin:15px 0;}
.sy_zh .mw_dp h3{font-size:26px; margin:15px 0;}
.sy_zh .mw_dp p{font-size:18px; line-height:32px;}
.sy_zh .mw_dp .j_g{padding:20px; font-size:18px; line-height:32px;}
.sy_zh .jn_js{margin:10px 0;}
.sy_zh .jn_js .n_r h3{font-size:26px; line-height:38px;}
.sy_zh .jn_js .n_r h4{font-size:20px; line-height:32px; margin-bottom:20px;}
.sy_zh .jn_js .n_r p{line-height:32px;}
.sy_zh .yx_gx .hd ul li{font-size:22px; padding-bottom:20px;}
.sy_zh .yx_gx .t_x{width:40%;}
.sy_zh .yx_gx .t_x ul li{width:40%; margin-left:6%;}
.sy_zh .yx_gx .w_z{width:56%;}
.sy_zh .yx_gx .w_z p{font-size:18px; line-height:32px;}
}

.sy_mx{width:100%;}
.sy_mx .mx_tj{padding:30px 60px; background-color:#f2f2f2;}
.sy_mx .mx_tj ul{margin:0 -25px;}
.sy_mx .mx_tj ul li{width:20%; padding:0 25px;}
.sy_mx .mx_tj .n_r{background-color:#fff;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.sy_mx .mx_tj .n_r:hover{box-shadow:0 0 20px #aaa;}
.sy_mx .mx_tj .t_p{position:relative; height:260px; overflow:hidden; background-color:#fff;}
.sy_mx .mx_tj .t_p:after{width:100%; height:10px; content:""; position:absolute; left:0; bottom:0;
background-image:-webkit-linear-gradient(left, rgba(197,247,82,0), #c5f752);
background-image:-moz-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-ms-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-o-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:linear-gradient(left, rgba(197,247,82,0), #390a5d);}
.sy_mx .mx_tj .t_p img{width:100%; height:auto; display:block;}
.sy_mx .mx_tj .w_z{padding:15px;}
.sy_mx .mx_tj .x_m{font-size:20px; font-weight:bold; line-height:30px;}
.sy_mx .mx_tj .j_s{line-height:26px; color:#777; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
@media (min-width:1025px) {
.sy_mx .mx_tj .t_p{height:220px;}
.sy_mx .mx_tj{padding:20px 30px;}
.sy_mx .mx_tj ul{margin:0 -15px;}
.sy_mx .mx_tj ul li{padding:0 15px;}
}
@media (min-width:1500px) {
.sy_mx .mx_tj .t_p{height:260px;}
.sy_mx .mx_tj{padding:30px 60px;}
.sy_mx .mx_tj ul{margin:0 -25px;}
.sy_mx .mx_tj ul li{padding:0 25px;}
}
@media only screen and (max-width:1024px){
.sy_mx .mx_tj{padding:20px 15px; background-color:#f2f2f2;}
.sy_mx .mx_tj ul{margin:0 -5px;}
.sy_mx .mx_tj ul li{width:25%; padding:0 5px; display:none;}
.sy_mx .mx_tj ul li:nth-child(-n+4){display:block;}
.sy_mx .mx_tj .w_z{padding:15px 10px;}
.sy_mx .mx_tj .x_m{font-size:22px;}
.sy_mx .mx_tj .j_s{font-size:16px;}
}

.sy_yl{width:100%; margin-bottom:40px;}
.sy_yl .lj_nr{padding-left:25px;}
.sy_yl .lj_nr a{display:inline-block; padding-right:20px; margin-right:20px; position:relative; font-size:16px; line-height:30px;}
.sy_yl .lj_nr a:after{width:1px; height:16px; content:""; background-color:#aaa; position:absolute; top:7px; right:0;}
@media only screen and (max-width:1024px){
.sy_yl .lj_nr a{font-size:20px; line-height:36px;}
.sy_yl .lj_nr a:after{height:20px; top:8px;}
}

.yx_jj{width:100%; margin-top:30px;}
.yx_jj .jj_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.yx_jj .jj_nr .row{margin:0 -20px;}
.yx_jj .jj_nr .col-12{padding:0 20px;}
.yx_jj .jj_nr .t_p{background-color:#fff;}
.yx_jj .jj_nr .t_p img{width:100%; height:auto; display:block;}
.yx_jj .jj_nr .w_z{font-size:18px; line-height:34px;}
@media (min-width:1025px) {
.yx_jj .jj_nr{padding:20px;}
.yx_jj .jj_nr .row{margin:0 -10px;}
.yx_jj .jj_nr .col-12{padding:0 10px;}
}
@media (min-width:1500px) {
.yx_jj .jj_nr{padding:25px;}
.yx_jj .jj_nr .row{margin:0 -20px;}
.yx_jj .jj_nr .col-12{padding:0 20px;}
}
@media only screen and (max-width:1024px){
.yx_jj{margin-top:0;}
.yx_jj .jj_nr{padding:20px;}
.yx_jj .jj_nr .row{margin:0 -15px;}
.yx_jj .jj_nr .col-12{padding:0 15px;}
.yx_jj .jj_nr .t_p{margin-bottom:20px;}
.yx_jj .jj_nr .w_z{line-height:32px;}
}

.yx_lb{width:100%; margin-top:30px;}
.yx_lb .yx_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.yx_lb .yx_nr .row{margin:0;}
.yx_lb .yx_lx{width:140px; flex:0 0 140px; margin-left:20px;}
.yx_lb .yx_lx .hd ul li{font-size:18px; line-height:56px; cursor:pointer;}
.yx_lb .yx_lx .hd ul li.on{font-weight:bold; color:#222;}
.yx_lb .yx_zs{width:calc(100% - 160px); flex:0 0 calc(100% - 160px);}
.yx_lb .yx_zs .bd{height:528px; overflow:hidden;}
.yx_lb .yx_zs .bd ul{margin:0 -20px;}
.yx_lb .yx_zs .bd ul li{width:12.5%; padding:0 20px; flex:0 0 12.5%;}
.yx_lb .yx_zs .n_r{margin:10px 0;}
.yx_lb .yx_zs .t_b{max-width:82px; background-color:#fff; padding:3px; margin:0 auto;}
.yx_lb .yx_zs .t_b img{width:100%; height:auto; border-radius:0 5px 0 5px; display:block;}
.yx_lb .yx_zs .w_z{font-size:15px; line-height:26px; text-align:center; margin-top:4px;}
@media only screen and (max-width:1024px){
.yx_lb{margin-top:0;}
.yx_lb .yx_nr{padding:20px;}
.yx_lb .yx_lx{width:120px; flex:0 0 120px; margin-left:10px;}
.yx_lb .yx_lx .hd ul li{font-size:22px; line-height:60px; cursor:pointer;}
.yx_lb .yx_zs{width:calc(100% - 130px); flex:0 0 calc(100% - 130px);}
.yx_lb .yx_zs .bd ul{margin:0 -10px;}
.yx_lb .yx_zs .bd ul li{width:25%; padding:0 10px; flex:0 0 25%;}
.yx_lb .yx_zs .n_r{margin:10px 0;}
.yx_lb .yx_zs .t_b{max-width:82px; background-color:#fff; padding:3px; margin:0 auto;}
.yx_lb .yx_zs .t_b img{width:100%; height:auto; border-radius:0 5px 0 5px; display:block;}
.yx_lb .yx_zs .w_z{font-size:15px; line-height:26px; text-align:center; margin-top:4px;}
}

.zd_lb{width:100%; margin-top:30px;}
.zd_lb .zd_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.zd_lb .zd_nr ul{margin:0 -25px;}
.zd_lb .zd_nr ul li{width:20%; padding:0 25px;}
.zd_lb .zd_nr .n_r{padding:2px 5px 2px 62px; background-color:#fff; margin:15px 0; position:relative;}
.zd_lb .zd_nr .t_b{width:52px; position:absolute; top:2px; left:5px;}
.zd_lb .zd_nr .t_b img{width:100%; height:auto; display:block;}
.zd_lb .zd_nr .w_z{font-size:16px; line-height:52px;}
@media only screen and (max-width:1024px){
.zd_lb{margin-top:0;}
.zd_lb .zd_nr{padding:20px;}
.zd_lb .zd_nr ul{margin:0 -10px;}
.zd_lb .zd_nr ul li{width:33.33333333333%; padding:0 10px;}
.zd_lb .zd_nr .w_z{font-size:18px;}
}

.cy_js{width:100%; margin-top:30px; padding:25px; background-color:#f2f2f2;}
.cy_js .row{margin:0 -20px;}
.cy_js .col-12{padding:0 20px;}
.cy_js .t_p{background-color:#fff;}
.cy_js .t_p img{width:100%; height:auto; display:block;}
.cy_js .x_m{font-size:26px; font-weight:bold; color:#000; line-height:36px; margin-bottom:10px;}
.cy_js .j_j{line-height:26px; color:#777;}
@media only screen and (max-width:1024px){
.cy_js{padding:20px;}
.cy_js .row{margin:0 -10px;}
.cy_js .col-12{padding:0 10px;}
.cy_js .j_j{line-height:32px;}
}

.zd_cy{width:100%; margin-top:30px;}
.zd_cy .mx_tj{padding:30px; background-color:#f2f2f2;}
.zd_cy .mx_tj .n_r{background-color:#fff;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.zd_cy .mx_tj .n_r:hover{box-shadow:0 0 20px #aaa;}
.zd_cy .mx_tj .t_p{position:relative; background-color:#fff;}
.zd_cy .mx_tj .t_p:after{width:100%; height:10px; content:""; position:absolute; left:0; bottom:0;
background-image:-webkit-linear-gradient(left, rgba(197,247,82,0), #c5f752);
background-image:-moz-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-ms-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:-o-linear-gradient(left, rgba(197,247,82,0), #390a5d);
background-image:linear-gradient(left, rgba(197,247,82,0), #390a5d);}
.zd_cy .mx_tj .t_p img{width:100%; height:auto; display:block;}
.zd_cy .mx_tj .w_z{padding:15px;}
.zd_cy .mx_tj .x_m{font-size:20px; font-weight:bold; line-height:30px;}
.zd_cy .mx_tj .j_s{line-height:26px; color:#777;}
@media only screen and (max-width:1024px){
.zd_cy{margin-top:0;}
.zd_cy .mx_tj{padding:20px;}
.zd_cy .mx_tj .row{margin:0 -5px;}
.zd_cy .mx_tj .col-4{padding:0 5px;}
.zd_cy .mx_tj .n_r{margin:5px 0;}
.zd_cy .mx_tj .w_z{padding:15px 10px;}
.zd_cy .mx_tj .x_m{font-size:22px;}
.zd_cy .mx_tj .j_s{font-size:16px;}
}

.xs_lb{width:100%; margin-top:30px;}
.xs_lb .xs_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.xs_lb .xs_nr ul li{width:12.5%; padding:0 15px;}
.xs_lb .xs_nr .t_p{max-width:130px; max-height:130px; border-radius:50%; margin:15px auto; position:relative; overflow:hidden; background-color:#fff;}
.xs_lb .xs_nr .t_p img{width:100%; height:auto; display:block;}
.xs_lb .xs_nr .w_z{width:100%; background-color:rgba(23,182,130,.8); padding:5px 0; position:absolute; bottom:-36px; left:0; font-size:15px; line-height:26px; text-align:center; color:#fff;
transition:all .5s;
-o-transition:all .5s;
-ms-transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;}
.xs_lb .xs_nr .t_p:hover .w_z{bottom:0;}
@media (min-width:1025px) {
.xs_lb .xs_nr .t_p{max-width:100px; max-height:100px;}
}
@media (min-width:1500px) {
.xs_lb .xs_nr .t_p{max-width:130px; max-height:130px;}
}
@media only screen and (max-width:1024px){
.xs_lb{margin-top:0;}
.xs_lb .xs_nr{padding:20px;}
.xs_lb .xs_nr ul li{width:25%;}
.xs_lb .xs_nr .t_p{max-width:120px; max-height:120px;}
.xs_lb .xs_nr .w_z{font-size:18px;}
}

.zd_zx{width:100; margin-top:30px;}
.zd_zx .zx_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.zd_zx .zx_nr .row{margin:0 -30px;}
.zd_zx .zx_nr .col-12{padding:0 30px;}
.zd_zx .zx_nr .n_r{position:relative; margin:6px 0; padding-left:80px; line-height:40px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.zd_zx .zx_nr .s_j{float:right; font-size:15px; padding-left:10px;}
.zd_zx .zx_nr span{width:60px; height:26px; background-color:#6e6d6d; border-radius:3px; font-size:15px; color:#fff; text-align:center; line-height:26px; position:absolute; left:0; top:7px;}
@media only screen and (max-width:1024px){
.zd_zx{margin-top:0;}
.zd_zx .zx_nr{padding:20px;}
.zd_zx .zx_nr .row{margin:0 -15px;}
.zd_zx .zx_nr .col-12{padding:0 15px;}
.zd_zx .zx_nr ul li{display:none;}
.zd_zx .zx_nr ul li:nth-child(-n+6){display:block;}
.zd_zx .zx_nr .n_r{margin:0; padding:20px 0 20px 100px; border-bottom:1px solid #e1e1e1; line-height:32px;}
.zd_zx .zx_nr ul li:first-child .n_r{padding:0 0 20px 100px;}
.zd_zx .zx_nr .s_j{font-size:18px;}
.zd_zx .zx_nr span{width:80px; height:32px; border-radius:5px; font-size:18px; line-height:32px; top:20px;}
.zd_zx .zx_nr ul li:first-child span{top:0;}
}

.zd_js{width:100%; margin-top:30px; padding:25px; background-color:#f2f2f2;}
.zd_js .row{margin:0 -20px;}
.zd_js .col-12{padding:0 20px;}
.zd_js .t_p{background-color:#fff;}
.zd_js .t_p img{width:100%; height:auto; display:block;}
.zd_js .x_m{font-size:26px; font-weight:bold; color:#000; line-height:36px; margin-bottom:10px;}
.zd_js .j_s{line-height:26px; color:#777; margin-bottom:20px;}
.zd_js .j_j{line-height:26px; color:#777;}
@media only screen and (max-width:1024px){
.zd_js{padding:20px;}
.zd_js .row{margin:0 -10px;}
.zd_js .col-12{padding:0 10px;}
.zd_js .j_s{line-height:32px;}
.zd_js .j_j{line-height:32px;}
}

.zd_tw{width:100%; margin:30px 0;}
.zd_tw .zx_nr{width:100%; padding:25px; background-color:#f2f2f2;}
.zd_tw .row{margin:0 -20px;}
.zd_tw .col-12{padding:0 20px;}
.zd_tw .tw_lb ul{margin:0 -15px;}
.zd_tw .tw_lb ul li{padding:0 15px;}
.zd_tw .tw_lb .t_p{margin:15px 0; overflow:hidden; background-color:#fff;}
.zd_tw .tw_lb .t_p img{width:100%; height:auto; display:block;
transition:all 1s;
-o-transition:all 1s;
-ms-transition:all 1s;
-moz-transition:all 1s;
-webkit-transition:all 1s;} 
.zd_tw .tw_lb .t_p:hover img{transform:scale(1.05);
-webkit-transform:scale(1.05);
-moz-transform:scale(1.05);
-ms-transform:scale(1.05);
-o-transform:scale(1.05);}
.zd_tw .xw_lb ul li{position:relative; line-height:46px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.zd_tw .xw_lb .s_j{float:right; font-size:15px; padding-left:10px;}
@media only screen and (max-width:1024px){
.zd_tw{margin:0;}
.zd_tw .zx_nr{padding:20px;}
.zd_tw .row{margin:0 -15px;}
.zd_tw .col-12{padding:0 15px;}
.zd_tw .tw_lb ul{margin:0 -5px;}
.zd_tw .tw_lb ul li{padding:0 5px;}
.zd_tw .tw_lb .t_p{margin:0 0 10px;}
.zd_tw .xw_lb ul li{line-height:60px; display:none;}
.zd_tw .xw_lb ul li:nth-child(-n+5){display:block;}
.zd_tw .xw_lb .s_j{font-size:18px;}
}

.yx_js{width:100%; margin-top:30px; padding:35px 50px; background-color:#f2f2f2;}
.yx_js .row{margin:0 -20px;}
.yx_js .col-12{padding:0 20px;}
.yx_js .t_p{height:314px; overflow:hidden; background-color:#fff;}
.yx_js .t_p img{width:100%; height:auto; display:block;}
.yx_js .x_m{font-size:26px; font-weight:bold; color:#000; line-height:36px; margin-bottom:20px;}
.yx_js .j_s ul li{padding-left:100px; min-height:36px; position:relative; margin-bottom:15px; font-size:16px; line-height:36px; overflow:hidden;}
.yx_js .j_s span{width:80px; position:absolute; top:0; left:0; display:block;}
.yx_js .x_n{width:80%; height:10px; border-radius:5px; background-color:#6e6d6d; margin:13px 0; position:relative;}
.yx_js .x_n i{height:10px; border-radius:5px; position:absolute; left:0; top:0; background-color:#17b682; display:block;}
.yx_js .x_n em{width:34px; position:absolute; left:0; top:50%; margin-top:-17px; display:block; z-index:9;}
.yx_js .x_n img{width:100%; height:auto; display:block;}
@media only screen and (max-width:1024px){
.yx_js{padding:25px 35px;}
.yx_js .row{margin:0 -15px;}
.yx_js .col-12{padding:0 15px;}
.yx_js .t_p{margin-bottom:30px;}
.yx_js .j_s ul li{padding-left:120px; min-height:40px; font-size:20px; line-height:40px;}
.yx_js .j_s span{width:100px;}
}

.yx_gs{width:100%; margin-top:30px;}
.yx_gs .gs_nr{width:100%; padding:25px; background-color:#f2f2f2; font-size:16px; line-height:28px;}
.yx_gs .gs_nr a{float:right; margin-top:30px; border:1px solid #888; padding:0 10px; line-height:26px;}
.yx_gs .gs_nr a:hover{background-color:#17b682; border:1px solid #17b682; color:#fff;}
@media only screen and (max-width:1024px){
.yx_gs{margin-top:0;}
.yx_gs .gs_nr{padding:20px; font-size:20px; line-height:36px;}
.yx_gs .gs_nr a{margin-top:20px; padding:0 15px; line-height:36px;}
}

.page{margin-top:10px; text-align:center;}
.page a{font-size:16px; line-height:26px; padding:0 10px;}
.page a.on{color:#17b682;}
@media only screen and (max-width:1024px){
.page{margin-top:20px;}
.page a{font-size:20px; line-height:32px; padding:0 15px;}
}

.banquan{width:100%; padding:20px 0; background-color:#161616; text-align:center; line-height:26px; color:#fff;}
@media only screen and (max-width:1024px){
.banquan{padding:25px 0; line-height:32px;}
}

.fh_top{width:50px; height:50px; background-color:#17b682; border-radius:50%; position:fixed; right:10px; bottom:20px; z-index:99999; display:none;}
.fh_top img{width:100%; height:auto; display:block;}

